/* ACCORDION CODE STARTS HERE Source: https://www.w3schools.com/howto/howto_js_accordion.asp */
/* In study group: check how to make separate cases of accordion class without copy pasting CSS? */
.accordion {
    color: white;
    cursor: pointer;
    padding: 1.5vmax;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2vmax;
    text-transform: uppercase;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 1vmax;
    display: none;
    background-color: #2b2b2b;
    overflow: hidden;
  }
/* ACCORDION CODE ENDS HERE */

.embedGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: 600px 600px 600px;
  margin: auto;
}

.embedGrid figure figcaption {
  font-size: 16px;
  padding: 0.5vh 1vw;
  border: 1px solid white;
}