/* HR WITH TEXT INSERT STARTS Source: https://codepen.io/HardKnocks/pen/abJRqjo?editors=1100 */
.hrTextInsert {
    overflow: hidden;
    text-align: center;
    font-size: 3vh;
}
  
.hrTextInsert:before, .hrTextInsert:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 30vw;
    margin: 0px 25px;
}

.hrTextInsert:before {
    right: 0.5em;
    margin-left: -50%;
    background-image: linear-gradient(90deg, #5e5e5e, white);
}

.hrTextInsert:after {
    left: 0.5em;
    margin-right: -50%;
    background-image: linear-gradient(90deg, white, #5e5e5e);
}
/* HR WITH TEXT INSERT ENDS */

/* ACCORDION CODE STARTS HERE Source: https://www.w3schools.com/howto/howto_js_accordion.asp */
/* In study group: check how to make separate cases of accordion class without copy pasting CSS? */
.accordion {
    color: white;
    cursor: pointer;
    padding: 1.5vmax;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2vmax;
    text-transform: uppercase;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 1vmax;
    display: none;
    background-color: white;
    overflow: hidden;
  }
/* ACCORDION CODE ENDS HERE */