/* CSS GRID IMAGE ARRAY STARTS */
.grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
    padding: 1vh 10vw;
}
/* CSS GRID IMAGE ARRAY ENDS */

/* TEXT HOVER CODE ADAPTED FROM W3SCHOOLS STARTS Source: https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.container {
    position: relative;
    width: 25vmax;
    background-color: white;
    border-radius: 50%;
}
  
.containerImg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}
  
.imgMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .containerImg {
    opacity: 0.3;
}
  
.container:hover .imgMiddle {
    opacity: 1;
}
  
.imgTextbg {
    background-color: #FFA500;
    padding: 1vh 1vw;
}

.imgText {
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}
.imgText:visited {color: black;}
/* TEXT HOVER CODE ADAPTED FROM W3SCHOOLS ENDS */

.fccContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    margin: 10vh 10vw 2vh 10vw;
}

.fccLogo {
    width: 50vmax;
}