body {
    font-family: 'Roboto', sans-serif;
    background-color: #5e5e5e;
    color: white;
    font-size: 24px;
}

.noAutoPos {
    margin: 0;
    padding: 0;
}

/* NAVBAR CODE STARTS */
.navBarTitle {
    color: black;
    font-size: 5vh;
    padding: 1vmin 3vmin 1vmin 3vmin;
    font-weight: normal;
    text-transform: uppercase;
    display: inline;
    float: left;
}

#navBar {
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    height: 8vh;
    width: 100%;
    top: 0;
    background-color: #FFA500;
    overflow: hidden;
}

#navBar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 2.5vmin 1em 2.5vmin;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3vh;
}

#navBar a:hover {
    background-color: #FF5C00;
    color: white;
    text-decoration: underline;
}

#navBar a:visited {
    color: #B24000;
}

#navBar a:visited:hover {
    color: black;
    text-decoration: underline;
}

#navBar a.active {
    background-color: #FF5C00;
    color: #0066FF;
    text-decoration: underline;
}
/* NAVBAR CODE ENDS */

/* HERO IMAGE CODE STARTS */
.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/pexels-felix-mittermeier-2832022.jpg);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 4px solid white;
}

.heroText {
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
}
/* HERO IMAGE CODE ENDS */

.leadImage {
    background-color: #B24000;
    display:inline-flex;
    float: left;
    border: 2px solid white;
    margin: 0.5vmin 3vmin 2vmin 3vmin;
}

.leadText {
    margin-right: 3vmin;
    margin-left: 3vmin;
    font-size: 3.25vh;
    text-align: justify;
}

/* HR WITH TEXT INSERT STARTS */
.hrTextInsert {
    overflow: hidden;
    text-align: center;
    font-size: 3vh;
}
  
.hrTextInsert:before,.hrTextInsert:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 30vw;
    margin: 0px 25px;
}

.hrTextInsert:before {
    right: 0.5em;
    margin-left: -50%;
    background-image: linear-gradient(90deg, #5e5e5e, white);
}

.hrTextInsert:after {
    left: 0.5em;
    margin-right: -50%;
    background-image: linear-gradient(90deg, white, #5e5e5e);
}
/* HR WITH TEXT INSERT ENDS */

/* FOOTER CODE STARTS HERE */
.footerBar {
    z-index: 1;
    height:4vh;
    width: 100%;
    bottom: 0;
    background-color: #FFA500;
    overflow: hidden;
}
/* FOOTER CODE ENDS HERE */